<!DOCTYPE html>
<html>
<head>
	<title>Racecube three.js</title>
	<!-- STYLESHEETS -->
	<link rel = "stylesheet" type = "text/css" href = "styles/demo.css" />

	<!-- FAVICON -->
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- SCRIPTS BEFORE THE PAGE LOADS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="scripts/ajax.js"></script>
</head>
<body>
	<!-- Three js scene -->
	<div id="MarioKart"></div>
	
	<!-- game elements that are positioned on top of Mario Kart -->
	<div id="game-elements">
		<div id="timer"></div>
		<img id="arrows" src="images/keys.png" alt="image of arrow keys">

		<!-- hidden until the game ends -->
		<div id="game-over-modal" class="modal">
			<form method="POST" action="" class="modal-content animate">
				<input class="game-over-input" type="text" placeholder="Enter your name" name="username" autofocus>
				<input type="submit" value="Save Score">
			</form>
		</div>
		<div id="game-over"></div>
		<div id="game-scores"></div>
	</div>

	<!-- Mario Kart audio elements -->
	<audio autoplay="autoplay">
		<source src="audio/intro_music.mp3" type-"audio/mpeg"></audio>
	
	<!-- SCRIPTS AFTER THE PAGE LOADS -->
	<script src="scripts/controls/three.js"></script>
	<script src="scripts/controls/OrbitControls.js"></script>
	<script src="scripts/controls/physi.js"></script>
	<script src="scripts/index.js"></script>
</body>
</html>

<!--  -->