<!DOCTYPE html>
<html>
<head>
	<title>Mario Kart three.js</title>
	<!-- STYLESHEETS -->
	<link rel = "stylesheet" type = "text/css" href = "styles/demo.css" />

	<!-- SCRIPTS BEFORE THE PAGE LOADS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="scripts/ajax.js"></script>
</head>
<body>
	<div id="MarioKart"></div>
	<div id="game-elements">
		<div id="timer"></div>
		<img id="arrows" src="images/keys.png" alt="image of arrow keys">
		<div id="game-over"></div>
	</div>
	
	<!-- SCRIPTS AFTER THE PAGE LOADS -->
	<script src="scripts/controls/three.js"></script>
	<script src="scripts/controls/OrbitControls.js"></script>
	<script src="scripts/controls/physi.js"></script>
	<script src="scripts/index.js"></script>
</body>
</html>

<!-- GRAVEYARD -->
<!-- <a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - procedural 3D text by <a href="http://www.lab4games.net/zz85/blog" target="_blank" rel="noopener">zz85</a> &amp; alteredq
<br/>type to enter new text, drag to spin the text
<br/>
<span class="button" id="color">change color</span>,
<span class="button" id="font">change font</span>,
<span class="button" id="weight">change weight</span>,
<span class="button" id="bevel">change bevel</span>
<a id="permalink" href="#">permalink</a> -->
<!-- <script src="scripts/controls/TextGeometry.js"></script> -->
<!-- <script src="styles/fonts/helvetiker_regular.typeface.json"></script> -->
<!-- <script src="styles/fonts/helvetiker_bold.typeface.json"></script> -->
<!-- <script src="scripts/controls/GeometryUtils.js"></script> -->
<!-- <script src="scripts/controls/Detector.js"></script>
	<script src="scripts/controls/stats.min.js"></script>
	<script src="scripts/demos.js"></script> -->
<!-- Version with ThreeJS but no Physijs -->
<!-- <script src="scripts/index3.js"></script> -->