body { 
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	margin: 0;
}

canvas { 
	width: 99%; 
	height: 99% 
}

label {
	display: block;
}

input {
	font-size: 30px;
	text-align: center;
}

input[type=text], select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

input[type=submit] {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
}

.modal {
	display: none;
	padding-top: 10%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2;
}

.modal-content {
	padding: 5%;
}

.high-scores {
	background-color: black;
}

.map-select-button {
	background-color: black;
	color: yellow;
	font-size: 30px;
}

.map-select-button:hover {
	color: #00DB30;
}

.map-select-image {
	display: block;
	margin: 3% auto;
	text-align: center;
	width: 50%;
}

#map-select-modal {
	background-color: lavender;
	height: 87%;
}

#map-select-modal-title {
	background-color: black;
	color: yellow;
	font-size: 50px;
	margin: 3%;
}

#map-select-left {
	float: left;
	margin: 3%;
	width: 40%;
}

#map-select-right {
	float: right;
	margin: 3%;
	width: 40%;
}

#timer {
	display: inline;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 2%;
	width: 100%;
	z-index: 1;
}

#arrows {
	bottom: 2%;
	display: inline;
	right: 2%;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
}

#game-over {
	color: red;
	display: inline;
	font-size: 100px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 10%;
	width: 99%;
	z-index: 1;
}

#game-scores {
	color: white;
	display: inline;
	font-size: 25px;
	left: 23%;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 50%;
	z-index: 1;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
	from { -webkit-transform: scale(0); } 
	to { -webkit-transform: scale(1); }
}

@keyframes animatezoon {
	from { transform: scale(0); }
	to { transform: scale(1); }
}