body { 
	margin: 0; 
}

canvas { 
	width: 99%; 
	height: 99% 
}

#timer {
	color: white;
	display: inline;
	font-size: 30px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 2%;
	width: 99%;
	z-index: 100;
}

#arrows {
	bottom: 2%;
	display: inline;
	right: 2%;
	margin: 0 auto;
	position: absolute;
	z-index: 100;
}

#game-over {
	color: red;
	display: inline;
	font-size: 200px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 15%;
	width: 99%;
	z-index: 100;
}